@using VectorPlus.Web.Service
@using VectorPlus.Lib
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VectorPlus</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">VectorPlus.Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Connection" asp-action="Index">Connection</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Config" asp-action="Index">Configuration</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @if (ViewData["Result"] != null)
        {
            <div class="alert alert-primary" role="alert">@(((ActionResponseMessage)ViewData["Result"]).Message)</div>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <form>
                @if (ViewData["Connection"] != null)
                {
                    @ViewData["Connection"].ToString()
                }
                <div style="float: right;">
                    @if (ViewData["Connection"] == null || (IVectorControllerPlus.ConnectedState)ViewData["Connection"] == IVectorControllerPlus.ConnectedState.Disconnected)
                    {
                        <button formaction=@Url.Action(action: "Reconnect") formmethod="post" class="btn btn-primary">Reconnect</button>
                    }
                    @if (ViewData["Connection"] != null && (IVectorControllerPlus.ConnectedState)ViewData["Connection"] == IVectorControllerPlus.ConnectedState.Connected)
                    {
                        <button formaction=@Url.Action(action: "Disconnect") formmethod="post" class="btn btn-danger">Disconnect</button>
                    }
                </div>
            </form>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
