@model ConfigViewModel

@{
    ViewData["Title"] = "Configuration";
}

<!-- class text-center -->
<div>
    <h1 class="display-4">Configuration</h1>

    <div class="row">
        <div class="col">

            <div class="card">
                <div class="card-header">Available modules</div>

                <div class="card-body">
                    <ul>
                        @foreach (var module in Model.AllModules)
                        {
                            <li>
                                @module.Name
                                <!-- @module.UniqueReference -->
                                <form>
                                    <button class="btn btn-danger"
                                            formaction=@Url.Action(action: "RemoveModule", new { id = module.UniqueReference })
                                            formmethod="post">
                                        Remove
                                    </button>
                                </form>
                                <ul>
                                    @foreach (var behaviour in module.Behaviours.Where(b => !Model.ActiveBehaviours.Any(ab => ab.Id.Equals(b.Id))))
                                    {
                                        <li>
                                            @behaviour.Name<br />
                                            <!-- @behaviour.UniqueReference -->
                                            <form>
                                                <button class="btn btn-success"
                                                        formaction=@Url.Action(action: "ActivateBehaviour", new { id = behaviour.UniqueReference })
                                                        formmethod="post">
                                                    Activate
                                                </button>
                                            </form>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div><!-- card-body -->

                <div class="card-footer">
                    <form enctype="multipart/form-data" method="post" asp-controller="Config" asp-action="UploadModule">
                        <div class="custom-file">
                            <input type="file" name="files" accept=".zip" class="custom-file-input" id="filesInput" />
                            <label class="custom-file-label" for="filesInput">Choose a plugin ZIP</label>
                        </div>
                        <p>
                            <input type="submit" value="Upload" class="btn btn-primary" style="margin-top: 10px;" />
                        </p>
                    </form>
                </div><!-- card-body -->
            </div><!-- card -->

        </div><!-- col -->
        <div class="col">

            <div class="card">
                <div class="card-header">Active behaviours</div>
                <div class="card-body">

                    <ul>
                        @foreach (var behaviour in Model.ActiveBehaviours)
                        {
                            <li>
                                @behaviour.Name
                                <!-- @behaviour.UniqueReference -->
                                <form>
                                    <button class="btn btn-danger"
                                            formaction=@Url.Action(action: "DeactivateBehaviour", new { id = behaviour.UniqueReference })
                                            formmethod="post">
                                        Deactivate
                                    </button>
                                </form>
                            </li>
                        }
                    </ul>

                </div>
            </div>

        </div><!-- col -->
    </div><!-- row -->

    <div class="row">
        Known issues:
        <ul>
            <li>Once you've selected a zip file, the UI won't show you what you've selected. Just press upload.</li>
        </ul>
    </div>

</div>
